*{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0px;
    padding: 0px;
    color: white;
}

div input{
    width: 65%;
    padding: 15px;
    margin-bottom: 60px;
    border-radius: 30px;
    border-color: red;
    background-color: black;
    margin-left: -10%;
    display: flex;
    justify-self: center;
    position: relative;
    z-index: 1;
}

div form input{
    margin-left: 10%;
}

div div h2{
    margin-bottom: 20px;
}

a{
    text-decoration: none;
}

li{
    padding: 10px;
}

ul{
    list-style: none;
}

body{
    height: 100%;
    margin: 0;
    background-color: black;
}

main{
    margin-left: 54px;
}

header{
    border-bottom:2px red solid ;
    padding: 10px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header img{ 
    width: 32px;
    margin-right: 10px;
}

header a img{
    margin-left: auto;
}

#barra-lateral{
    border-right:2px red solid ;
    background-color: black;
    height: 100%;
    text-align: center;
    position: fixed;
}

.flex{
    display: flex;
}

.ajuste{
    width: 40px;
    height: 40px;
}

.mt-6{
    margin-top: 60px;
    margin-left: 10%;
}

.cabecalho-logo{
    width: 32px;
    height: 32px;
    padding-top: 7px;
}

.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items:center;
    padding: 20px;
    position: relative;
    z-index: 1;
}

.elemento{
    background-color: black;
    border: 1px red solid;
    border-radius: 20px;
    padding: 35px;
    width:100px;
    text-align: center;
    font-size: 19px;
    transition: .2s;
    position: relative;
    z-index: 1;
}

.item-barra-lateral{
    margin-top: 2px;
    transition: 0.5s;
}

.elemento:hover{
    background-color: rgb(24, 24, 24);
}

.item-barra-lateral:hover{
    background-color: rgb(24, 24, 24);
    border-radius: 50%;
    
}

.popup {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
    color: black;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.popup.show {
    display: block;
    opacity: 1;
}

.popup-content {
    background-color: #000000;
    margin-left: 77%;
    margin-top: 5%;
    padding: 20px;
    border: 1px solid #ff0000;
    border-radius: 50px;
    width: 20%;
    color: black;
    transition: transform 0.3s ease;
    transform: translateY(-50px);
}

.popup.show .popup-content {
    transform: translateY(0);
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.config-option {
    display: flex;
    align-items: center;
}

.config-option input {
    margin-right: -60px;
    margin-left: -65px;
    margin-bottom: -7px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

@media screen and (min-width: 1px) and (max-width: 319px) {
    div input{
        width: 240px;
        margin-left: -35%;
    }
    .container{
        visibility: hidden;
    }
    #barra-lateral{
        visibility: hidden;
    }
    #config-button{
        visibility: hidden;
    }
}

@media screen and (min-width: 320px) and (max-width: 500px) {
    div input{
        width: 380px;
        margin-left: -25%;
    }
    #barra-lateral{
        visibility: hidden;
    }
    .container{
        margin-left: -12%;
    }
    #config-button{
        visibility: hidden;
    }
}

@media screen and (min-width: 501px) and (max-width: 768px) {
    div input{
        width: 380px;
        margin-left: -25%;
    }
    #barra-lateral{
        visibility: hidden;
    }
    .container{
        margin-left: -12%;
    }
    #config-button{
        visibility: hidden;
    }
}

@media screen and (min-width: 769px) and (max-width: 1023px){
    div input{
        width: 500px;
        margin-left: -10%;
    }
    .elemento{
        margin-left: 150px;
        margin-top: 20px;
    }
    .container{
        margin-left: -160px;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1279px){
    div input{
        width: 700px;
        margin-left: -10%;
    }
    
}

@media screen and (min-width: 1280px) and (max-width: 1440px) {
    div input{
        width: 780px;
        margin-left: -10%;
    }
}